@model BPPS.Models.departments

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>departments</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.locations.town)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.locations.town)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.departments2.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.departments2.name)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.department_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
