@model IEnumerable<BPPS.Models.feedback_questions>

@{
    ViewBag.Title = "Edit";
}

<br>
<h3>Feedback of project <abbr title="@ViewBag.project_name" style="color: magenta;">@ViewBag.project_abbr</abbr> for partner
    <span style="color: brown;"> @ViewBag.firstName @ViewBag.lastName ( @ViewBag.email )  </span> </h3>
<hr>
<h3 style="margin-top:50px; margin-left:50px;">Edit questions:</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label(" ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @foreach (var item in Model)
                {
                    <div class="checkbox" style="height:30px;">
                        <label>
                            <input type="checkbox" checked="checked" value="@item.question_id" name="questions" id="questions">
                            @item.questions.question
                        </label>
                    </div>
                }
            </div>
        </div>
        <div class="form-group">
            @Html.Label(" ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <hr />
                <span class="glyphicon glyphicon-arrow-up"></span>
                &nbsp;&nbsp; <input type="checkbox" name="checked_allQuestions" checked="checked"> označit všetky otázky
            </div>
        </div>
        <input type="hidden" value="@ViewBag.feedback_id" name="feedback_id">

        <br>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Back", "", "", new { @class = "btn btn-warning" }, new { @class = "btn btn-warning", href = Request.UrlReferrer})
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-check"></span> 
                    Submit
                </button>
                <!--<input type="submit" value="Save" class="btn btn-success" />-->
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
