@model BPPS.Models.departments

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h2>Department details</h2>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Department:")
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>
            
        <dt>&nbsp;</dt>
        <dd>&nbsp;</dd>
    
            <dt>
                @Html.DisplayName("Location (town):")
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.locations.town)
            </dd>
            
        <dt>&nbsp;</dt>
        <dd>&nbsp;</dd>
    
            <dt>
                @Html.DisplayName("Sub-department:")
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.departments2.name)
            </dd>
            
        <dt>&nbsp;</dt>
        <dd>&nbsp;</dd>

            <dt>
                <!--@Html.ActionLink("Back to List", "Index", "", new{@class = "btn btn-warning"})-->
                <a href="@Url.Action("Index", "departments")" class="btn btn-warning">
                    <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                    Back to List
                </a>
            </dt>
            <dd>
                <!--@Html.ActionLink("Edit", "Edit", new { id = Model.department_id }, new{@class="btn btn-primary"})-->
                <a href="@Url.Action("Edit", "departments", new { id = Model.department_id })" class="btn btn-primary">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    Edit
                </a>
            </dd>
    
        </dl>
    </div>
</body>
</html>
