@model IEnumerable<BPPS.Models.departments>

@{
    ViewBag.Title = "Index";
}

 <p>&nbsp</p>
<div class="well well-sm"><h1 style="margin-left:100px;"> Departments</h1></div>

    <div id='newDepartmentModal' class="modal fade" role="dialog" data-url='@Url.Action("Create")'>
        <div id='departmentContainer'></div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#newDepartment').click(function() {
                var url = $('#newDepartmentModal').data('url');

                $.get(url, function(data) {
                    $('#departmentContainer').html(data);
                     $('#newDepartmentModal').modal('show');
                });
             });
        });
    </script>

    <p>
        <button id='newDepartment' class="btn btn-primary btn-lg">New department</button>
    </p>
    <table class="table table-striped">
        <tr>
            <th><h3> Departments  </h3></th>
            <th><h3> Town  </h3></th>
            <th><h3>Sub-departments</h3></th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.locations.town)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departments2.name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.department_id }, new{@class = "btn btn-warning"}) 
                @Html.ActionLink("Details", "Details", new { id=item.department_id }, new{@class = "btn btn-info"}) 
                @Html.ActionLink("Delete", "Delete", new { id=item.department_id }, new {@class = "btn btn-danger"})
            </td>
        </tr>
    }
    
    </table>