@model BPPS.Models.feedbacks

<script src="js/Chart.min.js"></script>

@{
    ViewBag.Title = "Details";
}

<h2>Feedback detail</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Acronym")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Projects.acronym)
        </dd>
        
        <dt>
            @Html.DisplayName("Project")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Projects.name)
        </dd>

        <dt>&nbsp;</dt>
        <dd>&nbsp;</dd>

        <dt>
            @Html.DisplayName("First name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.FirstName)
        </dd>

        <dt>
            @Html.DisplayName("Last name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.LastName)
        </dd>

        <dt>&nbsp;</dt>
        <dd>&nbsp;</dd>

        <dt>
            @Html.DisplayName("Email")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

        <dt>&nbsp;</dt>
        <dd>&nbsp;</dd>

        <dt>
            @Html.DisplayName("Initialized")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.initiated)
        </dd>

        <dt>
            @Html.DisplayName("Recieved")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.received)
        </dd>

    </dl>
</div>

<h3> Feedback result </h3>
<table class="table" id="feedback">
    <tr>
        <th> Question </th>
        <th> Answer </th>
        <th> Comment </th>
    </tr>
    @foreach (var answer in ViewBag.feedbackResult)
    {
        <tr>
            <td> @answer.questions.question </td>
            <td class="answerResult"> &nbsp;&nbsp;&nbsp;@answer.result</td>
            <td> @if (answer.comment == "")
            { <i> no comment</i> }
                else { <i> @answer.comment </i> } </td>
        </tr>
    }
</table>

@*<canvas id="myChart" width="800" height="400"></canvas>*@

@*<script type="text/javascript"> 
    $(document).ready(function () {
        var ctx = document.getElementById("myChart").getContext("2d");
        var numero = [4, 2, 3, 4, 5, 4, 1];
        var zoznam = ["1st question", "2nd question", "3rd question", "4th question", "5th question", "6th question", "7th question"]
        var data = {
            labels: zoznam,
            //labels: ["1st question", "2nd question", "3rd question", "4th question", "5th question", "6th question", "7th question"],
            datasets: [
                {
                    label: "My First dataset",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: numero
                    //data: [65, 59, 80, 81, 56, 55, 40]
                }
            ]
        };
        var myBarChart = new Chart(ctx).Bar(data);

    });
</script>*@

<p></p>
<div class="row">
    <div class="col-sm-2">
        @Html.ActionLink("Back", "", "", new { @class = "btn btn-primary btn-block", href = Request.UrlReferrer})
     </div>
</div>


