@model BPPS.Models.feedbacks

@{
    ViewBag.Title = "Details";
}

<h2>Feedback detail</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.initiated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.initiated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.received)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.received)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Projects.acronym)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Projects.acronym)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Projects.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Projects.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

    </dl>
</div>

<h3> Feedback result </h3>
<table class="table" id="feedback">
    <tr>
        <th> Question </th>
        <th> Answer </th>
        <th> Comment </th>
    </tr>
    @foreach (var answer in ViewBag.feedbackResult)
    {
        <tr>
            <td> @answer.questions.question </td>
            <td class="answerResult"> &nbsp;&nbsp;&nbsp;@answer.result</td>
            <td> @if (answer.comment == "")
            { <i> no comment</i> }
                else { <i> @Html.ActionLink("comment", "CommentDetail", new { feedback_id = answer.feedback_id}) </i> } </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.feedback_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
