@model PagedList.IPagedList<BPPS.Models.feedbacks>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "IndexMy";
}
<br>
@if (@TempData["successCreatedFeedback"] != null)
{
    <div class="alert alert-success">
        <b> Success: </b> @TempData["successCreatedFeedback"]
    </div>
}
<div class="well well-sm"><h1 style="margin-left:100px;"> My feedbacks</h1></div>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayName("Project ID")
        </th>
        <th>
            @Html.DisplayName("Project Name")
        </th>
        <th>
            @Html.DisplayName("Feedback initiated")
        </th>
        <th>
            @Html.DisplayName("Feedback received")
        </th>
        <th>
            @Html.DisplayName("Business Partner Representative")
        </th>
        <th>
            @Html.DisplayName("Business Partner Email")
        </th>
        <th>
        </th>
        <th>
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.project_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Projects.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.initiated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.received)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUsers.FirstName) @Html.DisplayFor(modelItem => item.AspNetUsers.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
            </td>
            <td>
                @if (item.received == null)
                {
                    @Html.ActionLink("v y p l n i ť", "FeedbackForm", "feedback_questions",
                           new { feedback_id = item.feedback_id }, new { @class = "btn btn-info" })
                }
            </td>
            <td>
                @if (item.received != null)
                {
                    @Html.ActionLink("Details", "Details", new { id = item.feedback_id }, new { @class = "btn btn-info" })
                }
            </td>
            <td>
                <a href="@Url.Action("PrintPDF","feedbacks", new { id = item.feedback_id })"><img src="~/Content/Images/pdf_download.png" width="30" height="30" /></a>
            </td>
            <td>
                <a href="@Url.Action("ExportData","feedbacks", new { id = item.feedback_id })"><img src="~/Content/Images/excel_download.png" width="30" height="30" /></a>
            </td>
        </tr>
    }
</table>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("IndexMy",
    new { page }))

        <div class="pull-right">
            Export all:
            <a href="@Url.Action("PrintPDF2", "feedbacks")"><img src="~/Content/Images/pdf_download.png" width="30" height="30" /></a>
            <a href="@Url.Action("ExportData2", "feedbacks")"><img src="~/Content/Images/excel_download.png" width="30" height="30" /></a>
        </div>