@model PagedList.IPagedList<BPPS.Models.feedbacks>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<div class="page-header"><h2> All feedbacks</h2></div>

<button type="button" class="btn btn-default btn-block" data-toggle="collapse" data-target="#filterForm">Filter</button>
<br>
<div id="filterForm" class="collapse">
    @using (Html.BeginForm())
    {
            <table width="500">
                <tr>
                    <td>Partner name: </td>
                    <td>@Html.DropDownList("buisness_partner", null, "All", new { @class = "form-control" })</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Project name:</td>
                    <td>@Html.TextBox("project_name", null, new { @class = "form-control" })</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                
                <tr>
                    <td><input class="btn btn-primary btn-block" type="submit" value="Search" /></td>
                </tr>
            </table>
                 

    }
    <br>
    </div>
<br>
        <h3 style="margin-left:100px;">List of feedbacks</h3>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Project ID")
                </th>
                <th>
                    @Html.DisplayName("Project Name")
                </th>
                <th>
                    @Html.DisplayName("Feedback initiated")
                </th>
                <th>
                    @Html.DisplayName("Feedback received")
                </th>
                <th>
                    @Html.DisplayName("Business Partner Representative")
                </th>
                <th>
                    @Html.DisplayName("Business Partner Email")
                </th>
                <th>
                </th>
                <th>
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.project_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Projects.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.initiated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.received)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AspNetUsers.FirstName)
                        @Html.DisplayFor(modelItem => item.AspNetUsers.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.feedback_id })
                    </td>
                    <td>
                        <a href="@Url.Action("PrintPDF","feedbacks", new { id = item.feedback_id })"><img src="~/Content/Images/pdf_download.png" width="30" height="30" /></a>
                    </td>
                    <td>
                        <a href="@Url.Action("ExportData","feedbacks", new { id = item.feedback_id })"><img src="~/Content/Images/excel_download.png" width="30" height="30" /></a>
                    </td>
                </tr>
            }
        </table>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
