@model BPPS.Models.Projects

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Projects</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Acronym")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.acronym)
        </dd>

        <dt>&nbsp;</dt>
        <dd>&nbsp;</dd>

        <dt>
            @Html.DisplayName("Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>&nbsp;</dt>
        <dd>&nbsp;</dd>

        <dt>
            @Html.DisplayName("Description")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>&nbsp;</dt>
        <dd>&nbsp;</dd>

        <dt>
            @Html.DisplayName("Start date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start_date)
        </dd>

        <dt>&nbsp;</dt>
        <dd>&nbsp;</dd>

        <dt>
            @Html.DisplayName("End date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.end_date)
        </dd>

        <dt>&nbsp;</dt>
        <dd>&nbsp;</dd>

        <dt>
            @Html.DisplayName("Status")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>&nbsp;</dt>
        <dd>&nbsp;</dd>

        <dt>
            @Html.DisplayName("Department")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departments.name)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Back (All projects) ", "Index", "", new { @class = "btn btn-primary" })  
</p>
<p> 
    @Html.ActionLink("Back (My projects)", "IndexMy", "", new { @class = "btn btn-primary" })
</p>
