@model IEnumerable<BPPS.Models.AspNetUsers>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="well well-sm"> <h1 style="margin-left:100px;"> Users </h1></div>

<p>
        <button id='newUser' class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-plus"></span>
            New user
        </button>
</p>
<table class="table table-striped">
    <tr>
        <th>
            <h3> User name  </h3>
        </th>
        <th>
            <h3> First name </h3>
        </th>
        <th>
            <h3> Last name </h3>
        </th>
        <th>
            <h3> Email </h3>
        </th>
        <th>
            <h3> Phone number </h3>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            <!--@Html.ActionLink("Edit", "Edit", new { id=item.Id }, new {@class = "btn btn-warning"})--> 
            <a href="@Url.Action("Edit", "AspNetUsers",new { id=item.Id })" class="btn btn-warning">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                Edit
            </a>
            <!--@Html.ActionLink("Details", "Details", new { id=item.Id }, new {@class = "btn btn-info"})--> 
            <a href="@Url.Action("Details", "AspNetUsers",new { id=item.Id })" class="btn btn-info">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                Details
            </a>
            <!--@Html.ActionLink("Delete", "Delete", new { id=item.Id }, new {@class = "btn btn-danger"})-->
            <a href="@Url.Action("Delete", "AspNetUsers",new { id=item.Id })" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                Delete
            </a>
        </td>
    </tr>
}

</table>

    <div id='newUserModal' class="modal fade" role="dialog" data-url='@Url.Action("Create")'>
        <div id='userContainer'></div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#newUser').click(function() {
                var url = $('#newUserModal').data('url');

                $.get(url, function(data) {
                    $('#userContainer').html(data);
                     $('#newUserModal').modal('show');
                });
             });
        });
    </script>
