@model BPPS.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<h2>@ViewBag.Title.</h2>

@if (TempData["succMess"] != null)
{
    <div class="alert alert-success">
        <b>Success! </b>Your message was sent to administrator!
    </div>
}
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        @*<dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>*@
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.

             See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.

             Uncomment the following block after you have set up two-factor authentication
        *@
        @*<dt>Phone Number:</dt>
                <dd>
                    @(Model.PhoneNumber ?? "None") [
                    @if (Model.PhoneNumber != null)
                    {
                        @Html.ActionLink("Change", "AddPhoneNumber")
                        @: &nbsp;|&nbsp;
                        @Html.ActionLink("Remove", "RemovePhoneNumber")
                    }
                    else
                    {
                        @Html.ActionLink("Add", "AddPhoneNumber")
                    }
                    ]
                </dd>
            <dt>Two-Factor Authentication:</dt>
            <dd>
                <p>
                    There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication.
                </p>
                @if (Model.TwoFactor)
                    {
                        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Enabled
                            <input type="submit" value="Disable" class="btn btn-link" />
                            </text>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Disabled
                            <input type="submit" value="Enable" class="btn btn-link" />
                            </text>
                        }
                    }
            </dd>*@
        <br>
        <dt>Contact admin:</dt>
        <dd>
            @using (Html.BeginForm())
            {
                @Html.TextArea("requirements", new { @class = "form-control" })
                <br>
                <input class="btn btn-primary" type="submit" value="Send" />

            }
        </dd>
      <!--  <dd>
            @Html.AntiForgeryToken()
            Input text and clic on button to contact admin with your requirements.
            <textarea id="requirements"></textarea>
            <input type="submit" value="Send" class="btn btn-default" />
        </dd>-->
    </dl>
</div>
@if (User.IsInRole("admin"))
            {
    <div class="RoleLink1">
        @Html.ActionLink("Go to add roles to users", "../AspNetUserRoles/Index")
    </div>
    <div class="RoleLink2">
        @Html.ActionLink("Go to manage roles", "../AspNetRoles/Index")
    </div>
}